@import 'local_functions';
@import 'local_variables';
@import 'local_mixins';

:host {
  min-height: $header-min-height;

  img {
    background-color: $white;
    border-radius: 5px;
  }

  @include iconsCollection($header-icon-collection);
}

@include color-mode(dark) {
  :host {
    border-bottom: $border-width $border-style $border-color;
  }
}