//*------------------------------------------------------------------*/
// * Main
//*------------------------------------------------------------------*/
$primary: #fff;
$secundary: #000;
$lighter: 20%;
$darker: 20%;
$icons-size: 1rem;
$scrollbar-thumb: #545456;
$scrollbar-track: #060608;
$option-collection: (
  #ffffff,
  #a09f9f,
  #cd4b4b,
  #4b4bff,
  #ae2aae,
  #00c200,
);
//*------------------------------------------------------------------*/
// * Scroll To Top
//*------------------------------------------------------------------*/
$scroll-top-background: #9055a2dc;
$scroll-top-spacing: 1rem;
$scroll-top-size: 35px;
//*------------------------------------------------------------------*/
// * Aside Lines
//*------------------------------------------------------------------*/
$aside-background: #000;
$aside-error: #ff0000;
//*------------------------------------------------------------------*/
// * Item
//*------------------------------------------------------------------*/
$item-color: #ffF;
$item-icon-collection: (
  warning,
  settings,
  camera,
);
//*------------------------------------------------------------------*/
// * Header
//*------------------------------------------------------------------*/
$header-min-height: 58px;
$header-icon-collection: (
  logout,
  return,
);
//*------------------------------------------------------------------*/
// * Home
//*------------------------------------------------------------------*/
$home-icon-collection: (
  image,
  defective,
  found,
  photographed,
  prepared,
  edited,
  saved,
  left-bar,
);
//*------------------------------------------------------------------*/
// * Modal Images
//*------------------------------------------------------------------*/
$images-icon-collection: (
  arrow-left,
  arrow-right,
  back,
);
//*------------------------------------------------------------------*/
// * Modal Image Editor
//*------------------------------------------------------------------*/
$editor-icon-collection: (
  undo,
  redo,
  left,
  center,
  right,
  justify,
  transparent,
  fill,
  stroke,
  background,
  opacity,
  round,
);