@import 'local_functions';
@import 'local_variables';
@import 'mixins/breakpoints';

:host {
  font-family: 'Lato', sans-serif;
  background-color: $gray-300;
}

main {
  height: 50vh;
  color: $dark;
}

aside {
  height: calc(50vh - $header-min-height);
  color: $gray-300;
  background-color: $dark;
}

@include media-breakpoint-up(md) {

  main,
  aside {
    width: 50%;
    height: calc(100vh - $header-min-height) !important;
  }
}